[Unit]
Description=Sonatype Nexus 3.x
After=network.target

[Service]
Type=forking
LimitNOFILE=65536
ExecStart=/opt/nexus-oss/bin/nexus start
ExecStop=/opt/nexus-oss/bin/nexus stop
ExecReload=/opt/nexus-oss/bin/nexus restart
#PIDFile=/opt/nexus-oss/run/nexus.pid
User=nexus
Restart=on-abort

[Install]
WantedBy=multi-user.target
