[Unit]
Description=OpenNebula management
After=network.target local-fs.target remote-fs.target mysqld.service 

[Service]
User=oneadmin
Group=oneadmin
Type=forking
PermissionsStartOnly=true
#ExecStartPre=/bin/mkdir -p /var/run/one
#ExecStartPre=/bin/mkdir -p /var/lock/one
#ExecStartPre=/bin/chown -R oneadmin:oneadmin /var/run/one
#ExecStartPre=/bin/chown -R oneadmin:oneadmin /var/lock/one
ExecStart=/usr/bin/one start
ExecStop=/usr/bin/one stop

[Install]
WantedBy=multi-user.target
