[Unit]
Description=OpenNebula Web Interface
#After=syslog.target network.target local-fs.target remote-fs.target opennebula.service opennebula-novnc.service
After=syslog.target network.target local-fs.target remote-fs.target opennebula.service
BindsTo=opennebula.service
#Wants=opennebula-novnc.service

[Service]
User=oneadmin
Group=oneadmin
Type=forking

PermissionsStartOnly=true
ExecStart=/usr/bin/sunstone-server start
ExecStop=/usr/bin/sunstone-server stop
#PIDFile=/var/run/one/sunstone.pid
#Restart=always

[Install]
WantedBy=multi-user.target
